{
    "presets": ["env"],
    "plugins": [
        "transform-runtime",
        "transform-object-rest-spread"
    ],
    "env": {
        "development": {
            "sourceMaps": "inline"
        }
    }
}